.ansi {
    &-black-bg { background-color: #3E424D; }
    &-black-fg { color: #3E424D; }
    &-black-intense-bg { background-color: #282C36; }
    &-black-intense-fg { color: #282C36; }
    &-blue-bg { background-color: #208FFB; }
    &-blue-fg { color: #208FFB; }
    &-blue-intense-bg { background-color: #0065CA; }
    &-blue-intense-fg { color: #0065CA; }
    &-bold { font-weight: bold; }
    &-cyan-bg { background-color: #60C6C8; }
    &-cyan-fg { color: #60C6C8; }
    &-cyan-intense-bg { background-color: #258F8F; }
    &-cyan-intense-fg { color: #258F8F; }
    &-green-bg { background-color: #00A250; }
    &-green-fg { color: #00A250; }
    &-green-intense-bg { background-color: #007427; }
    &-green-intense-fg { color: #007427; }
    &-magenta-bg { background-color: #D160C4; }
    &-magenta-fg { color: #D160C4; }
    &-magenta-intense-bg { background-color: #A03196; }
    &-magenta-intense-fg { color: #A03196; }
    &-red-bg { background-color: #E75C58; }
    &-red-fg { color: #E75C58; }
    &-red-intense-bg { background-color: #B22B31; }
    &-red-intense-fg { color: #B22B31; }
    &-white-bg { background-color: #C5C1B4; }
    &-white-fg { color: #C5C1B4; }
    &-white-intense-bg { background-color: #A1A6B2; }
    &-white-intense-fg { color: #A1A6B2; }
    &-yellow-bg { background-color: #DDB62B; }
    &-yellow-fg { color: #DDB62B; }
    &-yellow-intense-bg { background-color: #B27D12; }
    &-yellow-intense-fg { color: #B27D12; }
    &bold { font-weight: bold; }
    &black { color: black; }
    &red { color: darkred; }
    &green { color: darkgreen; }
    &yellow { color: #c4a000; }
    &blue { color: darkblue; }
    &purple { color: darkviolet; }
    &cyan { color: steelblue; }
    &gray { color: gray; }
    &bgblack { background-color: black; }
    &bgred { background-color: red; }
    &bggreen { background-color: green; }
    &bgyellow { background-color: yellow; }
    &bgblue { background-color: blue; }
    &bgpurple { background-color: magenta; }
    &bgcyan { background-color: cyan; }
    &bggray { background-color: gray; }
}

.highlight {
    .bp { color: #007020 } /* Name.Builtin.Pseudo */
    .bp { color: #008000 } /* Name.Builtin.Pseudo */
    .c { color: #408080; font-style: italic } /* Comment */
    .c { color: #60a0b0; font-style: italic } /* Comment */
    .c1 { color: #408080; font-style: italic } /* Comment.Single */
    .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
    .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
    .cm { color: #408080; font-style: italic } /* Comment.Multiline */
    .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
    .cp { color: #007020 } /* Comment.Preproc */
    .cp { color: #BC7A00 } /* Comment.Preproc */
    .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
    .cs { color: #408080; font-style: italic } /* Comment.Special */
    .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
    .dl { color: #BA2121 } /* Literal.String.Delimiter */
    .err { border: 1px solid #FF0000 } /* Error */
    .err { border: 1px solid #FF0000 } /* Error */
    .fm { color: #0000FF } /* Name.Function.Magic */
    .gd { color: #A00000 } /* Generic.Deleted */
    .gd { color: #A00000 } /* Generic.Deleted */
    .ge { font-style: italic } /* Generic.Emph */
    .ge { font-style: italic } /* Generic.Emph */
    .gh { color: #000080; font-weight: bold } /* Generic.Heading */
    .gh { color: #000080; font-weight: bold } /* Generic.Heading */
    .gi { color: #00A000 } /* Generic.Inserted */
    .gi { color: #00A000 } /* Generic.Inserted */
    .go { color: #808080 } /* Generic.Output */
    .go { color: #888888 } /* Generic.Output */
    .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
    .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
    .gr { color: #FF0000 } /* Generic.Error */
    .gr { color: #FF0000 } /* Generic.Error */
    .gs { font-weight: bold } /* Generic.Strong */
    .gs { font-weight: bold } /* Generic.Strong */
    .gt { color: #0040D0 } /* Generic.Traceback */
    .gt { color: #0044DD } /* Generic.Traceback */
    .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
    .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
    .hll { background-color: #ffffcc }
    .hll { background-color: #ffffcc }
    .il { color: #40a070 } /* Literal.Number.Integer.Long */
    .il { color: #666666 } /* Literal.Number.Integer.Long */
    .k { color: #007020; font-weight: bold } /* Keyword */
    .k { color: #008000; font-weight: bold } /* Keyword */
    .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
    .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
    .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
    .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
    .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
    .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
    .kp { color: #007020 } /* Keyword.Pseudo */
    .kp { color: #008000 } /* Keyword.Pseudo */
    .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
    .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
    .kt { color: #902000 } /* Keyword.Type */
    .kt { color: #B00040 } /* Keyword.Type */
    .m { color: #40a070 } /* Literal.Number */
    .m { color: #666666 } /* Literal.Number */
    .mb { color: #666666 } /* Literal.Number.Bin */
    .mf { color: #40a070 } /* Literal.Number.Float */
    .mf { color: #666666 } /* Literal.Number.Float */
    .mh { color: #40a070 } /* Literal.Number.Hex */
    .mh { color: #666666 } /* Literal.Number.Hex */
    .mi { color: #40a070 } /* Literal.Number.Integer */
    .mi { color: #666666 } /* Literal.Number.Integer */
    .mo { color: #40a070 } /* Literal.Number.Oct */
    .mo { color: #666666 } /* Literal.Number.Oct */
    .na { color: #4070a0 } /* Name.Attribute */
    .na { color: #7D9029 } /* Name.Attribute */
    .nb { color: #007020 } /* Name.Builtin */
    .nb { color: #008000 } /* Name.Builtin */
    .nc { color: #0000FF; font-weight: bold } /* Name.Class */
    .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
    .nd { color: #555555; font-weight: bold } /* Name.Decorator */
    .nd { color: #AA22FF } /* Name.Decorator */
    .ne { color: #007020 } /* Name.Exception */
    .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
    .nf { color: #0000FF } /* Name.Function */
    .nf { color: #06287e } /* Name.Function */
    .ni { color: #999999; font-weight: bold } /* Name.Entity */
    .ni { color: #d55537; font-weight: bold } /* Name.Entity */
    .nl { color: #002070; font-weight: bold } /* Name.Label */
    .nl { color: #A0A000 } /* Name.Label */
    .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
    .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
    .no { color: #60add5 } /* Name.Constant */
    .no { color: #880000 } /* Name.Constant */
    .nt { color: #008000; font-weight: bold } /* Name.Tag */
    .nt { color: #062873; font-weight: bold } /* Name.Tag */
    .nv { color: #19177C } /* Name.Variable */
    .nv { color: #bb60d5 } /* Name.Variable */
    .o { color: #666666 } /* Operator */
    .o { color: #666666 } /* Operator */
    .ow { color: #007020; font-weight: bold } /* Operator.Word */
    .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
    .s { color: #4070a0 } /* Literal.String */
    .s { color: #BA2121 } /* Literal.String */
    .s1 { color: #4070a0 } /* Literal.String.Single */
    .s1 { color: #BA2121 } /* Literal.String.Single */
    .s2 { color: #4070a0 } /* Literal.String.Double */
    .s2 { color: #BA2121 } /* Literal.String.Double */
    .sa { color: #BA2121 } /* Literal.String.Affix */
    .sb { color: #4070a0 } /* Literal.String.Backtick */
    .sb { color: #BA2121 } /* Literal.String.Backtick */
    .sc { color: #4070a0 } /* Literal.String.Char */
    .sc { color: #BA2121 } /* Literal.String.Char */
    .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
    .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
    .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
    .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
    .sh { color: #4070a0 } /* Literal.String.Heredoc */
    .sh { color: #BA2121 } /* Literal.String.Heredoc */
    .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
    .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
    .sr { color: #235388 } /* Literal.String.Regex */
    .sr { color: #BB6688 } /* Literal.String.Regex */
    .ss { color: #19177C } /* Literal.String.Symbol */
    .ss { color: #517918 } /* Literal.String.Symbol */
    .sx { color: #008000 } /* Literal.String.Other */
    .sx { color: #c65d09 } /* Literal.String.Other */
    .vc { color: #19177C } /* Name.Variable.Class */
    .vc { color: #bb60d5 } /* Name.Variable.Class */
    .vg { color: #19177C } /* Name.Variable.Global */
    .vg { color: #bb60d5 } /* Name.Variable.Global */
    .vi { color: #19177C } /* Name.Variable.Instance */
    .vi { color: #bb60d5 } /* Name.Variable.Instance */
    .vm { color: #19177C } /* Name.Variable.Magic */
    .w { color: #bbbbbb } /* Text.Whitespace */
}