div.cell {

    @media print {
        page-break-inside: avoid;
    }

    h2 {
        border-bottom: 1px solid rgba(80, 80, 80, 0.2);
        padding: .5rem 0;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: "Fire Sans", sans-serif;
        &:before {
            color: #fefefe;
            padding: 0 1rem 0 0;
        }
        a.anchor-link {
            display: none;
        }
    }

    h1::before { content: "#"; }
    h2::before { content: "##"; }
    h3::before { content: "###"; }
    h4::before { content: "####"; }
    h5::before { content: "#####"; }
    h6::before { content: "######"; }

    div.input, div.output_area {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    div.prompt {
        min-width: 14ex;
        padding: 0.4em;
        margin: 0;
        text-align: right;
        line-height: 1.21419em;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;

        @media print {
            text-align: left;
        }

        /* This is needed so that empty prompt areas can collapse to zero height when there
            is no content in the output_subarea and the prompt. The main purpose of this is
            to make sure that empty JavaScript output_subareas have no height. */
        &:empty {
            padding: 0;
            display: none;
        }
    }

    div.inner_cell {
        min-width: 0;
        /* Modern browsers */
        display: flex;
        flex-direction: column;
        align-items: stretch;
        /* Old browsers */
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
        /* Modern browsers */
        flex: 1;

        div.input_area {

        }
    }

    div.output {
        div.output_area:not(:first-child) {
            display: none;
        }

        div.output_area {
            width: 100%;
            img {
                width: 100%;
                border-radius: 0.25rem;
                box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

div.cell {

    &.text_cell {
        font-family: "Fira Sans", sans-serif;

        div.text_cell_render {}
    }

    &.code_cell {
        $input-padding: .5rem;

        padding: $input-padding 0;
        
        div.input, div.output_area {
            background: #fefefe;
            border-radius: .25rem;
            margin: $input-padding 0;
            box-shadow: 0px 1px 3px 0px rgba(39, 39, 39, 0.5);

            div.prompt {
                left: -14ex;
                text-align: right;
                position: absolute;
                padding: $input-padding;
                font-family: monospace !important;
            }

            // https://getbootstrap.com/docs/4.1/layout/overview/#responsive-breakpoints
            @media (max-width: 992px) {
                div.prompt {
                    display: none;
                }
            }

            div.inner_cell > div.input_area, code, div.output_html {
                margin: $input-padding 2 * $input-padding;
                max-width: 100%;
                overflow-x: scroll;

                pre {
                    margin: 0;
                    padding-bottom: 2 * $input-padding !important;
                }
            }

            div.output_png {
                display: flex;
                width: 100%;
                flex-direction: column;
                
                img {
                    align-self: flex-end;
                }
            }
        }
    }

    &.unrecognized_cell {

    }

    div {
        table.dataframe {
            border: 0;
            margin: 0;

            td {
                white-space: nowrap;
            }
        }
    }
}