.ucfsigai-brand::before, .ucfsigai-brand::after {
    font-weight: bold;
    font-family: "PT Sans", sans-serif !important;
}
.ucfsigai-brand::before {
    content: "SIGAI";
    color: #ffffff;
}
.ucfsigai-brand::after {
    content: "@UCF";
    color: #ffc904;
}