div.row#syllabus tr {
  background-color: inherit !important;
}

div.row#syllabus table {
  font-size: 1.2em;
  color: gray;
}

div.row#syllabus a {
  color: gray;
}

.syllabus-unit-title {
  color: #ffc904 !important;
  font-weight: bold;
}