@charset "UTF-8";

body.rise-enabled {
    background-color: #131c1f !important;
    background-color: #22292b !important;
    background-color: #242829 !important;

    @import "_bootstrap";

    div#site {
      height: 100% !important;
    }

    aside.controls {
      width: 90px !important;
      height: 90px !important;
      right: 0 !important;
      bottom: 0 !important;
      z-index: 1000000 !important;
      button.navigate-up {
        left: 34px !important;
      }

      button.navigate-right {
        top: 34px !important;
        left: 58px !important;
      }

      button.navigate-down {
        left: 34px !important;
        top: 58px !important;
      }

      button.navigate-left {
        top: 34px !important;
      }

    }

    div.slide-number {
      bottom: 2.1em !important;
      right: 1.9em !important;
    }

    i#help_b {
      visibility: hidden;
    }

    i#exit_b {

    }

    section[id^="slide-"] {
      top: 0 !important;
      padding: 15px 0 !important;
      width: calc(100vw - 30px) !important;
      max-width: calc(100vw - 30px) !important;
      height: calc(100vh - 84px) !important;
      overflow-y: scroll !important;
      overflow-x: hidden !important;
    }

    div.container.slides {
      padding: 15px 0 !important;
      width: calc(100vw - 30px) !important;
      max-width: calc(100vw - 30px) !important;
      height: calc(100vh - 84px) !important;
    }

    @import "text";
    @import "brand";
    @import "footer";
    @import "syllabus";

}
